

body {
	font-weight: bold
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#container {
	margin: 10px 0px;
	width: 500px;
	border: 1px solid #FFF;
	padding: 3px;

}

/*.box:nth-child(2n+2)  {
	margin-right: 200px
}*/

.box {
	height: 72px;
	width: 72px;
	padding: 11px;
	border: 1px solid black;
	margin: 30px;
	color: #FFF;
	font-size: 15px;
}


#box_1 {
	background-color: #D84231;
	position: relative;
	/*margin-right: 300px;*/
	float: left;
	font-size: 24px;
}
#arrow_1 {
	position: absolute;
	top: -40px;
	right: -40px;
}
#box_2 {
	background-color: #EAAE33;
	position: relative;
	float: left;
	font-size: 24px;
}
#arrow_2 {
	position: absolute;
	top: -40px;
	right: -40px;
}

#box_3 {
	background-color: #FDF85D;
	position: relative;
	/*margin-right:200px;*/
	float: left;
	color: #000;
	font-size: 30px;
}
#arrow_3 {
	position: absolute;
	top: -40px;
	right: -40px;
}

#box_4 {
	background-color: #578C05;
	position: relative;
	float:left;
	font-size: 35px;
	color: purple;
}
#arrow_4 {
	position: absolute;
	top: -40px;
	right: -40px;
}

#box_5 {
	background-color: #234AFB;
	position: relative;
	float: left;
}
#arrow_5 {
	position: absolute;
	top: -40px;
	right: -40px;
}

#box_6 {
	background-color: #DF8BF0;
	position: relative;
	float: left;
}
#arrow_6 {
	position: absolute;
	top: -40px;
	right: -40px;
}
