/*japanese flag - red circle on white*/
#japan {
	height: 150px;
	width: 250px;
	padding: 11px;
	border: 1px solid black;
	margin: 30px;
	color: #FFF;
	position:relative;
}
#circle_1 {
	border-radius: 50%;	
	width: 100px;
	height: 100px;
	background-color: #F00;
	position: absolute;
	top: 40px;
	right:90px;
}
/*norway flag - nested boxes onblue background*/
#norway {
	height: 150px;
	width: 250px;
	padding: 11px;
	border: 1px solid black;
	margin: 30px;
	background-color: #3F4B72;
	position:relative;
}
#n1 {
	height: 60px;
	width: 60px;
	padding: 5px;
	border: 1px solid #FFF;
	background-color: #FFF;
	position: absolute;
	top:0px;
	left:0px;
}
#n_1 {
	height: 50px;
	width: 50px;
	padding: 5px;
	border: 1px solid #red;
	background-color:red;
	position: absolute;
	top:0px;
	left:0px;
}
#n2 {
	height: 60px;
	width: 60px;
	padding: 5px;
	border: 1px solid #FFF;
	background-color: #FFF;
	position: absolute;
	bottom:0px;
	left:0px;
}
#n_2 {
	height: 50px;
	width: 50px;
	padding: 5px;
	border: 1px solid red;
	background-color:red;
	position: absolute;
	bottom:0px;
	left:0px;
}
#n3 {
	height: 60px;
	width: 160px;
	padding: 5px;
	border: 1px solid #FFF;
	background-color: #FFF;
	position: absolute;
	top:0px;
	right:0px;
}
#n_3 {
	height: 50px;
	width: 150px;
	padding: 5px;
	border: 1px solid red;
	background-color:red;
	position: absolute;
	top:0px;
	right:0px;
}
#n4 {
	height: 60px;
	width: 160px;
	padding: 5px;
	border: 1px solid #FFF;
	background-color: #FFF;
	position: absolute;
	bottom:0px;
	right:0px;
}
#n_4 {
	height: 50px;
	width: 150px;
	padding: 5px;
	border: 1px solid red;
	background-color:red;
	position: absolute;
	bottom:0px;
	right:0px;
}
 /*Union Jack - nested triangles with bars floated on top*/
#jack {
	height: 150px;
	width: 250px;
	padding: 11px;
	border: 1px solid black;
	margin: 30px;
	background-color: red;
	position:relative;
}
#top-whi-tri {
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 140px solid transparent;
	border-top: 80px solid #FFF;
	position: absolute;
	top: 0px;
	right: 5px;
}
#bot-whi-tri {
	width: 0;
	height: 0;
	border-left: 122px solid transparent;
	border-right: 140px solid transparent;
	border-bottom: 75px solid #FFF;
	position: absolute;
	bottom: 0px;
	left: 5px;
}
#left-whi-tri {
	width: 0;
	height: 0;
	border-top: 70px solid transparent;
	border-left: 114px solid #FFF;
	border-bottom: 74px solid transparent;
	position: absolute;
	top:16px;
	left: 0px;
}

#right-whi-tri {
	width: 0;
	height: 0;
	border-top: 73px solid transparent;
	border-right: 130px solid #FFF;
	border-bottom: 77px solid transparent;
	position: absolute;
	right: 0px;
	top: 13px;
}
#top-blu-tri {
	width: 0;
	height: 0;
	border-left: 115px solid transparent;
	border-right: 120px solid transparent;
	border-top: 70px solid #3F4B72;
	position: absolute;
	top: 0px;
	right: 22px;
}
#bot-blu-tri {
	width: 0;
	height: 0;
	border-left: 112px solid transparent;
	border-right: 127px solid transparent;
	border-bottom: 67px solid #3F4B72;
	position: absolute;
	bottom: 0px;
	left: 15px;
}
#left-blu-tri {
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-left: 104px solid #3F4B72;
	border-bottom: 64px solid transparent;
	position: absolute;
	top:26px;
	left: 0px;
}
#right-blu-tri {
	width: 0;
	height: 0;
	border-top: 65px solid transparent;
	border-right: 118px solid #3F4B72;
	border-bottom: 68px solid transparent;
	position: absolute;
	top:20px;
	right: 0px;
}
#hor-bar-white {
	width: 275px;
	height: 60px;
	background-color: #FFF;
	position: absolute;
	float:top;
	top:60px;
	left: 0px;
}
#hor-bar-red {
	width: 275px;
	height: 40px;
	background-color: red;
	position: absolute;
	float:top;
	top:70px;
	left: 0px;
}
#top-vert-white {
	width: 60px;
	height: 70px;
	background-color: #FFF;
	position: absolute;
	float: left;
	top: 0px;
	left: 105px;
}

#top-vert-red {
	width: 40px;
	height: 70px;
	background-color: red;
	position: absolute;
	float: left;
	top: 0px;
	left: 115px;
}
#bot-vert-white {
	width: 60px;
	height: 60px;
	background-color: #FFF;
	position: absolute;
	float: left;
	bottom: 0px;
	left: 105px;
}
#bot-vert-red {
	width: 40px;
	height: 64px;
	background-color: red;
	position: absolute;
	float: left;
	bottom: 0px;
	left: 115px
}

