
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*----container----*/
.container {
	padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
 }

 /*----rows-----*/
 .row {
    width:100%;
    margin: 5px 0;
    /*margin-left: 5%;
    margin-right: 5%;*/
}

.row:after {
    content: "";
    display: table;
    clear: both;

}
.push {
    clear:both;
}
/*----columns-----*/
.column {
    float: left;
    padding: 10px;
    border: 1px solid black;
    margin: 0;
}
.column.one-half {
    width: 50%;
    background-color: red;
}
.column.one-third {
    width: 33.33%;
    background-color: yellow;

}
.column.one-fourth {
    width: 25%;
    background-color: green;
}
.column.one-sixth {
    width: 16.6%;
    background-color: purple;
}
.column.one-eighth {
    width: 12.5%;
    background-color: blue;
}
.column.two-third {
    width: 66.6%;
    background-color: red

}
.column.three-eigth {
    width: 37.5%;
    background-color: orange
}
.offset-one-fourth {
    margin-left: 25%;
}
