
	
		
		body{
			background-image: url(/img/boys.jpg);
			color: #FFF;
			margin: 15px;
		}

		h1 {
			color: #F00; 
			text-decoration: underline;

		}
		h2 {
			Color: #00ff05;
			text-decoration: overline;
		}

		body {
			/*background-color: #FFFF00;*/
			font-family: "papyrus", "century gothic", serif;
		}

		ul { list-style: square; }
		.website{
			color: #F00;
			font-weight: bolder;
		}
/*
		#hawaii {
			text-decoration: blink; 
		}*/
		
