
h1 {
	font-size: 38px;
}


span {
	background-color: #FF0000;
	text-decoration: line-through; 
}

.first {
	text-indent: 80px; 
}
.class {
	text-indent: 80px;
}
ul {
	list-style: none;
}
.second {
	text-align: right;
}
.third {
	text-indent: 75px;
}

article {
	font-size: 28px;
}

a {
	font-size: 65px;
	font-family: "papyrus", "century gothic", serif;

}

a:link  {  
  text-decoration:none; 
}  
a:hover {
   text-decoration: underline;
}
