html {
    box-sizing:border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*------container-------*/
.container {
    width: 90%;
    max-width: 1200px;
    height: auto;
	padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
 }
 /*-------row general------*/
 .row {
 	width: 100%;
 	margin: 5px 0;
 	border: 1px solid red;
}

.row:after {
    content: "";
    display: block;
    clear: both;
 }
 /*---------column general------*/
 .column {
   /* float: left;*/
    padding: 10px;
    border: 1px solid black;
    margin: 0px;
 }
 .column-2 {
 	width: 50%;
 	padding:15px;
 	float: left;
 	margin: 10px;
 }
 .column-3 {
 	width: 35%;
 	padding: 15px;
 	float: left;
 	margin: 10px;
 }
 /*-----------artcle----------*/

 /*--------nav bar---------*/
.navigation {
	height: 60px;
	background-color: #FAFAFA;
	border: 1px solid black;
	font-size: 20px;
}
.top-nav>li {
	display: inline;
	list-style: none;
	position:relative;
	padding: 5px;
}
/*---------header----------*/
.header {
	background-image:url(/img/root.jpg);
	height: 300px;
	/*position: relative;	*/
}
.heading {
	color: white;
}
#email {
	/*position:absolute;*/
	top: 60px;
	left: 10%;
	padding: 5px
}
#zip-code {
	/*position: absolute;*/
	top: 60px;
	left: 30%;
	padding: 5px;
}
#state {
	/*position: absolute;*/
	top: 60px;
	right: 30%;
	padding: 5px;
}
#button {
	position: absolute;
	top: 60px;
	right: 15%;*/
}
.footer {
	/*clear:both;*/
	height: 80px;
	border: 1px solid black;
	background-color: #ccc;
	position: relative;
}
.copyright {
	margin-left: 30%;
}

