
/*----container----*/
.container {
	padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    position:relative;
 }
 /*-----nav bar--------*/
.navigation {
	width: 100%;
	height: 60px;
	background-color: #ccc;
	border: 1px solid black;
	font-size: 20px;
}

.top-nav>li {
	display: inline;
	list-style: none;
	position:relative;
	padding: 5px;
}

/*------header-------*/
.header {
	background-image: url(/img/root.jpg);
	width: 100%;
	height: 300px;
	position: relative;	
}
.header h1 {
	color: white;
}
#email {
	position:absolute;
	top: 60px;
	left: 10%;
	/*padding: 5px*/
}
#zip-code {
	position: absolute;
	top: 60px;
	left: 30%;
	/*padding: 5px;*/
}
#state {
	position: absolute;
	top: 60px;
	right: 30%;
	padding: 5px;
}
#button {
	position: absolute;
	top: 60px;
	right: 15%;
}
/*--------main story--------*/
.story {
	width: 65%;
	position: relative;
	padding: 5px:;
	float: left;
}
/*-----------side story----------*/
.update {
	width: 30%;
	position: relative;
	padding: 5px;
	float: right;
}
/*-----------footer------------*/
.footer {
	clear:both;
	width: 100%;
	height: 80px;
	border: 1px solid black;
	background-color: #ccc;
	position: relative;
}
.copyright {
	position: absolute;
	top: 30px;
	left: 30%;
}

